<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Main Test Suite" verbose="2">

    <test name="Holland America Line Selinium Grid Test">
         <classes>
             <parameter name="browserName" value="Browser Name"/>
             <class name="com.test.TestB"/>
        </classes>
    </test>

</suite>